<h2 align="center"> Student Sign Up </h2>
		<div class="col-lg-4">
			<form role="form">
				<div class="form-group">
					<label for="studno"> Student No.: </label>
					<input type="number" class="form-control" id="studno">
				</div>
				<div class="form-group">
					<label for="fname"> Firstname: </label>
					<input type="text" class="form-control" id="fname">
				</div>
		
				<div class="form-group">
					<label for="lname"> Lastname: </label>
					<input type="text" class="form-control" id="lname">
				</div>
				<div class="form-group">
					<label for="course"> Course: </label>
					<input type="text" class="form-control" id="course">
				</div>
				<div class="form-group">
					<label for="college"> College: </label>
					<input type="text" class="form-control" id="college">
				</div>
				<div class="form-group">
					<label for="contact_no"> Contact no.: </label>
					<input type="number" class="form-control" id="contact_no">
				</div>
				<div class="form-group">
					<label for="email"> NEU Email: </label>
					<input type="text" class="form-control" id="email" placeholder="fmlastname@neu.edu.ph">
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<label for="start_date">Password: </label>
							<input type="password"  class="form-control" id="pwd">
						</div>
					</div>
					<div class="col-lg-2"></div>	<div class="col-lg-6">
						<div class="form-group">
							<label for="start_date">Confirm Password: </label>
							<input type="password"  class="form-control" id="rpwd">
						</div>
					</div>
				</div>
			</form>
		</div>